div.mb-4.col{
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px;
}

.customize {
    div.col{
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid black;
        border-radius: 8px;
        margin: 10px;
        .select{
            display: flex;
            align-items: center;
            p{
                font-weight: inherit;
                font-style: normal;
                font-family: inherit;
                text-decoration: none;
                -webkit-text-size-adjust: none;
                color: #4a4a4a;
                font-size: 17px;
                font-weight: 600;
            }
            img{
                margin: 10px 20px 10px 10px;
                width: 100px;
                height: 100px;
            }  
        }

        .price-text{
            color: #0f8698;
            font-weight: 600;
        }
        .price{
            display: flex;
            align-items: center;
            p{
                color: red;
                font-size: 20px;
                font-weight: 600;
                margin-right: 50px;
            }
        }
        
        button.btn.btn-primary{
            margin: 10px 0px;
            color: white;
            border: none;
        }  
    }
    button.btn.btn-primary{
        // width: auto; 
        width: 200px; 
        float: right;
        margin: 10px 0px;
    }
}   
