.newOrder {
    flex: 20;
}

.addOrderTitle {
    margin-left: 20px;
}

.addOrderForm {
    margin-top: 10px;
}

.addOrderItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 20px;
}

.addOrderItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addOrderItem>input {
    padding: 10px;
}

.addOrderItem>select {
    padding: 10px;
}

.addOrderButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 100px;
} 