.newBrand {
    flex: 20;
}

.addBrandTitle {
    margin-left: 20px;
}

.addBrandForm {
    margin-top: 10px;
    margin-left: 20px;
}

.addBrandItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addBrandItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addBrandItem>input {
    padding: 10px;
}

.addBrandItem>select {
    padding: 10px;
}

.addBrandButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 80px;
}
.btn-create{
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #009393;
    background-color: #009393;
    margin-left: 83%;
    margin-top: 20px;
}
.btn-create:hover {
    color: #009393;
    border: 1px solid #009393;
    background-color: #F0F2F5;
}
.title{
    text-align  : center;
    color: #009393;
    font-size: xx-large;
    font-weight: 700;
  }